<!-- Layout Dashboard complet -->
<div class="flex h-screen bg-gray-100" [@fadeInDashboard]>

  <!-- Sidebar -->
  <app-sidebar
    class="w-64"
    *ngIf="isSidebarOpen"
    (toggle)="toggleSidebar()"
  ></app-sidebar>

  <!-- Contenu principal -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Header -->
    <app-header (logout)="logout()" [fullName]="fullName"></app-header>

    <!-- Page -->
    <main class="flex-1 overflow-y-auto p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
